# Node
node_modules/
dist/
.npm/

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Env & Secrets
.env
.env.*
pwd_*.txt
test_*.py

# OS
.DS_Store
Thumbs.db

# GCP Cloud Run
*.tgz
